.cart-banner {
  background-image: url(../img/Cart/Cart_banner.png);
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  justify-content: center;
  margin-top: 82px;

  h2 {
    color: #fff;
    font-size: 46px;
  }
  p {
    font-size: 16px;
    margin: 15px 0 20px;
    color: #fff;
  }
}

.cart {
  padding: 40px 80px;
  overflow-x: scroll;

  table {
    margin: 20px auto 0;
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    text-align: center;

    td {
      &:nth-child(1) {
        width: 100px;
        text-align: center;
      }
      &:nth-child(2) {
        width: 150px;
        text-align: center;
      }
      &:nth-child(3) {
        width: 250px;
        text-align: center;
      }
      &:nth-child(4) {
        width: 150px;
        text-align: center;

        .minus-icon {
          margin-right: 5px;
        }

        .plus-icon {
          margin-left: 5px;
        }
      }
      &:nth-child(5) {
        width: 150px;
        text-align: center;
      }
      &:nth-child(6) {
        width: 150px;
        text-align: center;

        .remove-icon {
          color: red;
          font-size: 16px;
        }
      }
    }

    thead {
      border: 1px solid #e2e9e1;
      border-left: none;
      border-right: none;

      td {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        padding: 18px 0;
      }
    }

    tbody {
      tr {
        border-top: 1px solid #ddd;

        td {
          padding-block: 15px;
          font-size: 13px;
        }
      }
    }

    img {
      width: 70%;
    }
  }
}

.purchase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;

  .coupon {
    width: 50%;
    margin-bottom: 30px;

    h3 {
      padding-bottom: 15px;
      font-size: 1.75rem;
    }

    input {
      padding: 10px 20px;
      outline: none;
      width: 60%;
      margin-right: 10px;
      border: 1px solid #e2e9e1;
    }

    button {
      font-size: 16px;
      font-weight: 500;
      padding: 11px 20px;
      color: #fff;
      background-color: #161a21;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
    }
  }

  .subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;

    h3 {
      font-size: 1.75rem;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;

      td {
        width: 50%;
        border: 1px solid #e2e9e1;
        padding: 10px;
        font-size: 13px;
      }
    }

    button {
      font-size: 16px;
      font-weight: 500;
      padding: 11px 20px;
      color: #fff;
      background-color: #161a21;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
    }
  }
}
