footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;

  .column {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    margin-right: 5px;

    .logo {
      margin-bottom: 30px;
    }

    h4 {
      font-size: 14px;
      padding-bottom: 20px;
      font-weight: 800;
    }

    p {
      font-size: 13px;
      margin: 0 0 8px;

      strong {
        font-weight: bolder;
      }
    }

    .follow {
      padding-top: 20px;

      .icon-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .icon {
        color: #465b52;
        font-size: 14px;
        margin-right: 4px;
        cursor: pointer;
      }
    }

    .nav-link {
      font-size: 13px;
      text-decoration: none;
      color: #222;
      margin-bottom: 10px;
    }
  }

  .download{
    display: flex;
    flex-direction: column;

    img {
      margin: 10px 0 10px;
      border: 1px solid #222;
      border-radius: 8px;
    }
  }
}
