.banner {
  background-image: url(../img/Home/home_banner.png);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  h2 {
    color: #fff;
    margin: 15px 0;
    font-size: 46px;
    font-weight: 600;
  }

  button {
    background-image: url(../img/Home/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }
}

.category {
  padding-top: 30px;
  justify-content: center;
  margin: 0 auto;
  display: grid;

  .category-card {
    width: 370px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 20px 20px 34px #00000008;

    &:hover .right-icon {
      background-color: #fff;
      color: #000;
      transition: all ease 0.2s;
    }

    h3 {
      padding: 9px 8px 6px 15px;
      line-height: 1;
      color: #fff;
      font-size: 23px;
      text-transform: uppercase;
    }

    .category-link {
      // border-radius: 50%;
      padding: 15px;
    }

    .right-icon {
      color: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      font-size: 30px;
    }
  }
  .first {
    background-image: url(../img/Category/men_watch.png);
    background-size: cover;
    background-position: center center;
  }
  .second {
    background-image: url(../img/Category/women_watch.png);
    background-size: cover;
    background-position: center center;
  }
  .third {
    background-image: url(../img/Category/accessories.png);
    background-size: cover;
    background-position: center center;
  }
}

.best-seller {
  text-align: center;
  padding: 80px 80px;

  h2 {
    font-size: 32px;
    color: #161a21;
    text-transform: uppercase;
  }

  .nav-link {
    font-size: 17px;
    color: #161a21;
    text-decoration: none;
    line-height: 14px;
    letter-spacing: 0.05em;
  }

  .container {
    padding-top: 20px;

    .product {
      padding: 10px 0;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 20px 20px 30px #00000005;
      margin: 15px 0;
      transition: 0.2s ease;

      &:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.39);
      }

      img {
        width: 100%;
        border-radius: 20px;
      }

      .add-wrapper {
        width: 100%;
        text-transform: uppercase;

        .add-to-cart {
          opacity: 0;
          width: 100%;
          height: 40px;
          background: #ecebea;
          border: 1px solid #ecebea;
          box-sizing: border-box;
          cursor: pointer;
          transition: all 0.3s ease;
          border-radius: 0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 800;
          padding-top: 3px;
          margin-top: -10px;

          &:hover {
            opacity: 1;
            background-color: #000;
            color: #fff;
          }
        }
      }

      .description {
        text-align: center;
        padding: 10px 0;

        span {
          color: #606063;
          font-size: 12px;
        }

        h5 {
          padding-top: 7px;
          color: #1a1a1a;
          font-size: 14px;
          // text-align: center;
        }

        h4 {
          padding-top: 7px;
          font-size: 15px;
          font-weight: 700;
          color: #1a1a1a;
          // text-align: center;
        }
      }
    }
  }
}
