.forms-container {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 180px 0 80px;
  column-gap: 30px;

  .form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;

    .field {
      position: relative;
      height: 50px;
      width: 100%;
      margin-top: 20px;
      border-radius: 6px;

      input {
        outline: none;
        padding: 0 15px;
        border: 1px solid#CACACA;
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;

        .eye-icon {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          font-size: 18px;
          color: #8b8b8b;
          cursor: pointer;
          padding: 5px;
        }
      }

      button {
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
        color: #fff;
        background-color: #161a21;
        transition: all 0.3s ease;
        cursor: pointer;
      }

    
    }

    .form-link {
      text-align: center;
      margin-top: 10px;

      a {
        color: #232836;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: #232836;
      }
    }
  }

  header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }

  form {
    margin-top: 30px;
  }
}
